# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
env/
*/rag_venv/
.rag_venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode
.vscode/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env

# Data base
*/data/